*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1220px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
body{
    background: #000;
}
.darsliklar-content_vidios{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.header_content{
    justify-content: center;
    display: flex;
    align-items: center;
}
.video2 {
    width: 90%;
    height: 390px;
    /* max-width: 100%; */
}
.logo_txt{
    color: orange;
    max-width: 100%;
}
.txt{
    text-align: center;
    color: orange;
    margin: 50px 0 0 0;
    margin-right: 13%;
}
.alif_logo{
    width: 10%;
    max-width: 100%;
}